/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

#toc-icon {
    position: fixed;
    top: 20px; /* ページの上端から20px */
    right: 20px; /* ページの右端から20px */
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1000; /* 他の要素の上に表示 */
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* 等間隔に配置 */
}

#toc-icon div {
    width: 100%;
    height: 4px;
    background-color: #333;
}

#toc {
    display: none;
    position: fixed;
    top: 60px;
    right: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#toc ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#toc ul li {
    margin-bottom: 10px;
}

#toc ul li a {
    text-decoration: none;
    color: #333;
}

#toc ul li a:hover {
    text-decoration: underline;
}
